{% load static %}

<nav class=" navbar navbar-expand-sm navbar-dark bg-dark " style="padding-left: 3%; padding-right: 2%;">
    <a class="navbar-brand " href="http://127.0.0.1:8000/" style="font-weight: 600; font-size: x-large;">StrangeFlix</a>
    <button class="navbar-toggler " type="button " data-toggle="collapse " data-target="#navbarText " aria-controls="navbarText " aria-expanded="false " aria-label="Toggle navigation ">
        <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarText ">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item ">
                <a class="nav-link " href="http://127.0.0.1:8000/price-list/">Pricing</a>
            </li>               
        </ul>
        {% load i18n %}
        {% if user.is_authenticated %}
        <a class="nav-link " href="http://127.0.0.1:8000/profile/">Welcome {{ user.username }}</a>
             <span>
            <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                 <button type="submit" class="btn btn-primary btn-sm " > {% trans 'Sign Out' %}</button>
                </form>
            {% else %}
            <a class="btn btn-primary btn-sm " href="http://127.0.0.1:8000/accounts/login/ " role="button ">Login/Sign-up</a>
            {% endif %}
            </span>
    </div>
</nav>