{% extends 'new_base.html' %}

{% block content %}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StrangeFlix</title>
    <style>
        body {
        background-color: rgb(41, 41, 40);
        }
        .nav_style
        {  
        background: rgba(0,0,0,0.2);   
        }

    </style>
</head>
<body>
<div class="bgded overlay light container-fluid" style="background-image:url('show_media/images/doctor_strange2.jpg'); background-size: cover; height: 100%; background-repeat: no-repeat;">
    <div class="container-fluid" style="background: rgba(0, 0, 0, 0.5); height: 100%; width: 100%;" >  
    <nav class=" navbar navbar-expand-lg  inline-block">
        <a class="navbar-brand " style="font-size:2vw; font-weight: bold;" href="#">StrangeFlix</a>

        <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#collapse_target">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse "   id="collapse_target">
            <ul class="navbar-nav mr-auto " >
                <li class="nav-item ">
                    <a class="nav-link " style="font-size:1.5vw;" href="http://127.0.0.1:8000/price-list/">Pricing</a>
                </li>
            </ul>
            <span class="navbar-text nav-item">
                {% load i18n %}
                {% if user.is_authenticated %}

                    <form method="post " action="{% url 'account_logout' %} ">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                            <input type="hidden " name="{{ redirect_field_name }} " value="{{ redirect_field_value }} "/>
                        {% endif %}
                    <span style="color: white; font-size: large;" >    Welcome {{ user.username }} &nbsp </span> <button type="submit " class="btn btn-primary btn-sm ">{% trans 'Sign Out' %}</button>
                    </form>

                {% else %}
                    <a class=" " style="font-size:1.5vw;" href="http://127.0.0.1:8000/accounts/login/ " role="button ">Login/Sign-up</a>
                {% endif %}
            </span>
        </div>
    </nav>

    <div style="padding:10% 20%; max-width:978x; position: center; color: antiquewhite; "> 
    <article>
        <h3 class="heading" style="font-size:3vw;">STRANGEFLIX</h3>
        <br>
        <h2 style="font-size:2.3vw; font-weight:900 ">Watch Unlimited Movies, Shows and more.</h2>

        <p style="font-size:1.5vw;"">Enjoy best quality vedios anywhere, anytime!<br>Start now by signing in.  </p>
        <a class="btn btn-primary" style="font-size:1.2vw; font-weight: 800;" href="http://127.0.0.1:8000/accounts/login/ ">Login/Sign-up</a>
    </article>
    </div>


    </div>
</div>
</body>
</html>

{% endblock content %}

